{%

Dim typeOfCapture = CurrentADC.PropValue("typeOfCapture")

Dim fontFamily = Theme.FontFamily
Dim borderWidth = Theme.BorderWidth

Dim controlWidth = CurrentADC.PropValue("controlWidth")
Dim controlAlign = CurrentADC.PropValue("controlAlign")

Dim videoWidth = CurrentADC.PropValue("videoWidth")

%}

#adc_{%= CurrentADC.InstanceId %}.adc-default {
    /*border-width: {%= Theme.BorderWidth %};*/
    width: {%= controlWidth %};
    {% If controlAlign = "center" Then %}
    margin: auto;
    text-align: center;
    {% EndIf %}
    {% If controlAlign = "left" Then%}
	float: left;
    {% EndIf %}
    {% If controlAlign = "right" Then %}
    float: right;
    {% EndIf %}
}

#adc_{%= CurrentADC.InstanceId %} #player {
    width: {%= videoWidth %};
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

{% if typeOfCapture = "image" then %}
#adc_{%= CurrentADC.InstanceId %} #preview, #capturedImage {
    width: {%= (videoWidth.Replace("%","").ToNumber()/2).ToString() %}%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
{% EndIf %}

#adc_{%= CurrentADC.InstanceId %} label {
    padding-left: 20px;
    padding-right: 20px;
}
